{
    "hostName": "nixiosk",
    "hardware": "qemu-no-virtfs",
    "program": {
        "package": "epiphany",
        "executable": "/bin/epiphany",
        "args": ["https://en.wikipedia.org/"]
    }
}
